@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #fafafa; }

svg {
  pointer-events: none; }

.show {
  display: block; }

.hide {
  display: none; }

.hided::after {
  content: "";
  background: url("https://cdn-icons-png.flaticon.com/512/25/25623.png") center center/cover no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 6px;
  margin-left: 3px; }

.hideSlider {
  animation-name: hide;
  animation-duration: 0.3s; }

@keyframes hide {
  from {
    opacity: 1; }
  to {
    opacity: .1; } }
.activeitem {
  height: 15px;
  width: 15px;
  margin: 10px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%; }

.showed::after {
  content: "";
  background: url("https://cdn-icons-png.flaticon.com/512/25/25623.png") center center/cover no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 6px;
  margin-left: 3px;
  transform: rotate(180deg); }

.header__scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999; }
  .header__scroll__line {
    width: 100%;
    height: 7px; }
    .header__scroll__line__complete {
      background-color: #000000;
      height: inherit;
      width: 0%; }
.header__main {
  margin: 0 50px;
  display: flex; }
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%; }
  .header__search__field {
    position: relative; }
    .header__search__field__input {
      height: 40px;
      width: 280px;
      border: none;
      outline: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      text-indent: 10px;
      border-radius: 4px; }
    .header__search__field__result {
      position: absolute;
      top: 52px;
      padding-top: 10px;
      width: 280px;
      min-height: 40px;
      max-height: 209px;
      font-size: 14px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      z-index: 1; }
      .header__search__field__result__total {
        background-color: #fff;
        padding: 0 10px 5px 10px; }
        .header__search__field__result__total__count {
          font-size: 14px;
          color: #0cb60c; }
      .header__search__field__result__item {
        background-color: #fff;
        padding: 10px;
        cursor: pointer; }
        .header__search__field__result__item__title {
          background-color: inherit;
          font-weight: bold; }
        .header__search__field__result__item__chars {
          display: flex;
          background-color: inherit;
          margin-top: 8px;
          font-size: 12px; }
          .header__search__field__result__item__chars__color {
            background-color: inherit; }
          .header__search__field__result__item__chars__mod {
            background-color: inherit;
            margin-left: 10px; }
        .header__search__field__result__item:hover {
          background-color: #d7d7d7; }
.header__timer {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__timer__title {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 18px; }
  .header__timer__clock {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    width: 380px; }
    .header__timer__clock__item {
      border-radius: 4px;
      height: 60px;
      width: 60px;
      text-align: center;
      font-size: 14px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.header__client {
  display: flex;
  align-items: center;
  width: 420px;
  justify-content: end; }
  .header__client__orders {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer; }
    .header__client__orders__icon {
      height: 25px;
      width: 25px; }
    .header__client__orders__title {
      font-size: 14px;
      margin-top: 5px; }
    .header__client__orders__count {
      background-color: #0cb60c;
      border-radius: 8px;
      color: #fff;
      height: 16px;
      line-height: 17px;
      padding: 0 8px;
      position: absolute;
      font-size: 12px;
      right: 0;
      top: 0; }
  .header__client__auth {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer; }
    .header__client__auth__icon {
      height: 25px;
      width: 25px; }
    .header__client__auth__title {
      font-size: 14px;
      margin-top: 5px; }

span {
  font-size: 34px;
  font-weight: bold;
  background-color: #fff; }

.main {
  display: flex;
  margin: 50px 50px 50px 50px; }
  .main__movies {
    display: inherit;
    width: 30%;
    justify-content: center;
    align-items: flex-start; }
    .main__movies__list {
      list-style-type: none;
      line-height: 36px;
      cursor: pointer; }
      .main__movies__list__item {
        cursor: pointer; }
        .main__movies__list__item__active {
          font-size: 20px;
          font-weight: bold; }
  .main__content__wrapper {
    width: 600px;
    position: relative; }
    .main__content__wrapper__images {
      width: 600px; }
      .main__content__wrapper__images__item {
        width: 600px;
        height: 800px;
        object-fit: contain; }
    .main__content__wrapper__image {
      width: 600px;
      height: 800px;
      object-fit: contain; }
    .main__content__wrapper__imagesecond {
      width: 600px;
      height: 800px;
      object-fit: contain; }
    .main__content__wrapper__prev {
      position: absolute;
      top: 400px;
      width: 25px;
      height: 25px;
      border-top: 4px solid rgba(0, 0, 0, 0.5);
      border-right: 4px solid rgba(0, 0, 0, 0.5);
      background-color: transparent;
      transform: rotate(-135deg);
      cursor: pointer; }
      .main__content__wrapper__prev:hover {
        border-top: 4px solid rgba(0, 0, 0, 0.8);
        border-right: 4px solid rgba(0, 0, 0, 0.8);
        transform: scale(1.2) rotate(-135deg); }
    .main__content__wrapper__next {
      position: absolute;
      top: 400px;
      right: 0px;
      width: 25px;
      height: 25px;
      border-top: 4px solid rgba(0, 0, 0, 0.5);
      border-right: 4px solid rgba(0, 0, 0, 0.5);
      background-color: transparent;
      transform: rotate(45deg);
      cursor: pointer; }
      .main__content__wrapper__next:hover {
        border-top: 4px solid rgba(0, 0, 0, 0.8);
        border-right: 4px solid rgba(0, 0, 0, 0.8);
        transform: scale(1.2) rotate(45deg); }
    .main__content__wrapper__countimage {
      display: flex;
      justify-content: center; }
      .main__content__wrapper__countimage__item {
        height: 15px;
        width: 15px;
        margin: 10px 0 0 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%; }
    .main__content__wrapper__titnordr {
      margin-top: 15px;
      display: flex;
      justify-content: space-between; }
    .main__content__wrapper__order {
      border-radius: 4px;
      width: 200px;
      background-color: rgba(12, 182, 12, 0.7);
      border: none;
      font-size: 18px;
      color: #fafafa;
      outline: none;
      cursor: pointer; }
      .main__content__wrapper__order:hover {
        background-color: rgba(12, 182, 12, 0.8);
        transform: scale(1.02); }
    .main__content__wrapper__title {
      margin: 10px 0 10px 0;
      font-size: 24px;
      font-weight: bold; }
    .main__content__wrapper__cost {
      margin: 0 0 10px 0;
      color: #0cb60c;
      font-size: 20px; }
    .main__content__wrapper__description {
      padding-bottom: 20px; }
    .main__content__wrapper__chars__title__text {
      font-size: 24px;
      margin-bottom: 15px;
      position: relative;
      width: 40%;
      cursor: pointer; }
    .main__content__wrapper__chars__values {
      display: flex;
      line-height: 30px; }
      .main__content__wrapper__chars__values__leftblock {
        margin-right: 20px; }
      .main__content__wrapper__chars__values__rightblock {
        margin-left: 50px;
        color: #0cb60c; }
  .main__slider {
    margin: 0 50px 50px 50px;
    position: relative;
    background-color: transparent; }
    .main__slider__open {
      background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png") center center/cover no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer; }
      .main__slider__open:hover {
        transform: scale(1.08); }
    .main__slider__background {
      height: 800px;
      width: 300px;
      position: absolute;
      top: 0px;
      left: -250px;
      background-color: rgba(0, 0, 0, 0.8); }
      .main__slider__background__btn {
        border-top: 5px solid rgba(250, 250, 250, 0.5);
        border-right: 5px solid rgba(250, 250, 250, 0.5);
        border-left: 0px;
        border-bottom: 0px;
        width: 30px;
        height: 30px;
        top: 400px;
        position: absolute;
        transform: rotate(45deg);
        background-color: transparent;
        cursor: pointer; }
        .main__slider__background__btn:hover {
          border-top: 5px solid #fafafa;
          border-right: 5px solid #fafafa; }
      .main__slider__background__list {
        position: inherit;
        list-style: none;
        background-color: transparent;
        line-height: 30px;
        margin-left: 100px;
        margin-top: 50px; }
        .main__slider__background__list__item {
          background-color: transparent;
          color: rgba(250, 250, 250, 0.5);
          cursor: pointer; }
          .main__slider__background__list__item:hover {
            color: #fafafa; }
  .main__new {
    height: 825px;
    width: 300px;
    margin: 0 10px;
    position: relative; }
    .main__new__title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: bold; }
    .main__new__items {
      height: 741px;
      width: 300px;
      margin: 30px auto; }
      .main__new__items__item {
        position: relative;
        width: 185px;
        height: 240px;
        margin: 10px auto;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer; }
        .main__new__items__item__image {
          width: 100%; }
        .main__new__items__item__title {
          margin: 5px auto;
          background-color: #fff; }
        .main__new__items__item__cost {
          background-color: #fff;
          color: #0cb60c; }
        .main__new__items__item__wrap {
          padding-left: 20px;
          padding-right: 20px;
          background-color: #fff;
          border-radius: 4px; }
          .main__new__items__item__wrap__desc {
            background-color: #fff;
            font-size: 10px; }
          .main__new__items__item__wrap__img {
            background-repeat: no-repeat;
            background-size: contain;
            width: 80px;
            height: 85px;
            padding-top: 5px; }
        .main__new__items__item__buy {
          position: absolute;
          display: flex;
          padding: 5px 20px;
          bottom: 5px;
          background-color: #fff;
          justify-content: space-around;
          align-items: center; }
          .main__new__items__item__buy__button {
            background-color: rgba(12, 182, 12, 0.7);
            width: 100px;
            height: 30px;
            color: #fafafa;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
            margin-left: 50px; }
            .main__new__items__item__buy__button:hover {
              background-color: rgba(12, 182, 12, 0.8);
              transform: scale(1.02); }
        .main__new__items__item__hover {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: #fff;
          z-index: 2; }
          .main__new__items__item__hover:hover {
            transition-delay: .33s;
            height: 235.23px;
            width: 280px;
            opacity: 1;
            border-radius: 4px;
            margin-left: -50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .main__new__previous {
      position: absolute;
      left: 140px;
      top: 35px;
      width: 20px;
      height: 20px;
      border-top: 3px solid rgba(0, 0, 0, 0.5);
      border-right: 3px solid rgba(0, 0, 0, 0.5);
      background-color: transparent;
      transform: rotate(-45deg);
      cursor: pointer; }
      .main__new__previous:hover {
        border-top: 3px solid rgba(0, 0, 0, 0.8);
        border-right: 3px solid rgba(0, 0, 0, 0.8);
        transform: scale(1.2) rotate(-45deg); }
    .main__new__next {
      position: absolute;
      left: 140px;
      bottom: 0px;
      width: 20px;
      height: 20px;
      border-top: 3px solid rgba(0, 0, 0, 0.5);
      border-right: 3px solid rgba(0, 0, 0, 0.5);
      background-color: transparent;
      transform: rotate(135deg);
      cursor: pointer; }
      .main__new__next:hover {
        border-top: 3px solid rgba(0, 0, 0, 0.8);
        border-right: 3px solid rgba(0, 0, 0, 0.8);
        transform: scale(1.2) rotate(135deg); }

.scrolltop {
  position: fixed;
  right: 15%;
  bottom: 4%;
  background-color: transparent;
  z-index: 3; }
  .scrolltop__item {
    width: 40px;
    height: 40px;
    border-top: 7px solid rgba(0, 0, 0, 0.5);
    border-right: 7px solid rgba(0, 0, 0, 0.5);
    background-color: inherit;
    transform: rotate(-45deg);
    cursor: pointer; }
    .scrolltop__item:hover {
      border-top: 7px solid rgba(0, 0, 0, 0.8);
      border-right: 7px solid rgba(0, 0, 0, 0.8); }
  .scrolltop__itemRotate {
    width: 40px;
    height: 40px;
    border-top: 7px solid rgba(0, 0, 0, 0.5);
    border-right: 7px solid rgba(0, 0, 0, 0.5);
    background-color: inherit;
    transform: rotate(135deg);
    cursor: pointer; }
    .scrolltop__itemRotate:hover {
      border-top: 7px solid rgba(0, 0, 0, 0.8);
      border-right: 7px solid rgba(0, 0, 0, 0.8); }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3; }
  .modal__wrapper {
    max-width: 600px;
    margin: 100px auto;
    border-radius: 4px; }
    .modal__wrapper__content {
      width: 100%;
      max-height: 600px;
      position: relative;
      padding: 40px;
      border-radius: inherit; }
      .modal__wrapper__content__main {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .modal__wrapper__content__main__form {
          display: flex;
          flex-direction: column; }
          .modal__wrapper__content__main__form__input {
            display: flex;
            flex-direction: column;
            width: 200px; }
            .modal__wrapper__content__main__form__input__field {
              margin: 10px auto 10px auto;
              height: 40px;
              width: 200px;
              border: none;
              outline: none;
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
              background-color: #fff;
              text-indent: 10px;
              border-radius: 4px; }
            .modal__wrapper__content__main__form__input__validate {
              color: red;
              background-color: transparent;
              font-size: 12px;
              margin-top: -5px; }
        .modal__wrapper__content__main__order {
          display: flex;
          flex-direction: column;
          background-color: transparent;
          margin: 10px auto 10px auto;
          font-size: 18px;
          text-align: center;
          align-items: center; }
          .modal__wrapper__content__main__order__image {
            max-width: 100px;
            max-height: 250px;
            object-fit: cover; }
          .modal__wrapper__content__main__order__title {
            margin: 10px auto 10px auto;
            background-color: transparent; }
          .modal__wrapper__content__main__order__cost {
            margin: 0 auto 10px auto;
            background-color: transparent;
            color: #0cb60c; }
      .modal__wrapper__content__exit {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 25px;
        height: 25px;
        cursor: pointer; }
        .modal__wrapper__content__exit__button {
          background-color: inherit; }
      .modal__wrapper__content__send {
        display: flex;
        justify-content: center; }
        .modal__wrapper__content__send__button {
          height: 40px;
          width: 200px;
          margin: 20px auto 0 auto;
          background-color: #303030;
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 18px;
          outline: none;
          cursor: pointer; }
          .modal__wrapper__content__send__button:hover {
            transform: scale(1.02); }
    .modal__wrapper__contentsubmit {
      width: 100%;
      max-height: 600px;
      position: relative;
      background-color: #fafafa;
      padding: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: inherit; }
      .modal__wrapper__contentsubmit__main {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .modal__wrapper__contentsubmit__main__image {
          max-width: 100px;
          max-height: 100px;
          object-fit: cover; }
        .modal__wrapper__contentsubmit__main__text {
          font-size: 18px;
          font-weight: bold;
          margin: 20px auto 0 auto; }

.orders {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3; }
  .orders__wrapper {
    width: 500px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto; }
    .orders__wrapper__exit {
      right: 515px;
      top: 20px;
      position: fixed;
      cursor: pointer;
      height: 35px;
      width: 35px;
      background-color: transparent;
      font-size: 35px;
      color: #fff;
      opacity: .8;
      text-align: center;
      line-height: 35px;
      text-shadow: 2px 2px 10px #000; }
    .orders__wrapper__content {
      padding: 40px; }
      .orders__wrapper__content__title {
        font-weight: bold;
        font-size: 20px; }
      .orders__wrapper__content__list {
        margin-top: 20px; }
        .orders__wrapper__content__list__total {
          margin-bottom: 15px; }
          .orders__wrapper__content__list__total__count {
            font-size: 16px;
            background-color: transparent;
            color: #0cb60c; }
        .orders__wrapper__content__list__item {
          position: relative;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: 8px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15); }
          .orders__wrapper__content__list__item__person {
            display: flex;
            margin-bottom: 5px; }
            .orders__wrapper__content__list__item__person__name {
              margin-right: 5px; }
          .orders__wrapper__content__list__item__phone {
            margin-bottom: 5px; }
          .orders__wrapper__content__list__item__email {
            margin-bottom: 5px; }
          .orders__wrapper__content__list__item__good {
            display: flex; }
            .orders__wrapper__content__list__item__good__l__image {
              height: 100px; }
            .orders__wrapper__content__list__item__good__r {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 15px; }
              .orders__wrapper__content__list__item__good__r__title {
                margin-bottom: 5px;
                max-width: 240px; }
              .orders__wrapper__content__list__item__good__r__cost {
                color: #0cb60c; }
          .orders__wrapper__content__list__item__exit {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 15px;
            top: 45%;
            border: none;
            font-size: 25px;
            opacity: 0.7;
            cursor: pointer; }
            .orders__wrapper__content__list__item__exit:hover {
              opacity: 1; }

.auth {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3; }
  .auth__wrapper {
    width: 500px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto; }
    .auth__wrapper__exit {
      right: 515px;
      top: 20px;
      position: fixed;
      cursor: pointer;
      height: 35px;
      width: 35px;
      background-color: transparent;
      font-size: 35px;
      color: #fff;
      opacity: .8;
      text-align: center;
      line-height: 35px;
      text-shadow: 2px 2px 10px #000; }
    .auth__wrapper__content {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .auth__wrapper__content__title {
        font-weight: bold;
        font-size: 20px; }
      .auth__wrapper__content__form {
        margin-top: 20px; }
        .auth__wrapper__content__form__input {
          display: flex;
          flex-direction: column;
          position: relative; }
          .auth__wrapper__content__form__input__field {
            margin: 10px auto 10px auto;
            height: 40px;
            width: 275px;
            border: none;
            outline: none;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
            background-color: #fff;
            text-indent: 10px;
            border-radius: 4px; }
          .auth__wrapper__content__form__input__image {
            position: absolute;
            right: 15px;
            top: 20px;
            height: 20px;
            width: 20px;
            background-color: #fff;
            cursor: pointer; }
        .auth__wrapper__content__form__button {
          margin: 10px auto 10px auto;
          width: 275px;
          height: 40px;
          color: #fafafa;
          text-align: center;
          font-size: 18px;
          padding: 8px;
          border-radius: 4px;
          background-color: rgba(12, 182, 12, 0.7);
          cursor: pointer; }
          .auth__wrapper__content__form__button:hover {
            background-color: rgba(12, 182, 12, 0.8); }
        .auth__wrapper__content__form__meta {
          position: relative;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: 8px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); }
          .auth__wrapper__content__form__meta__block {
            display: flex;
            margin: 10px auto 10px auto; }
            .auth__wrapper__content__form__meta__block__text {
              width: 80px; }
      .auth__wrapper__content__switch {
        margin: 10px auto 10px auto; }
        .auth__wrapper__content__switch__span {
          color: rgba(12, 182, 12, 0.8);
          background-color: #fafafa;
          font-size: 18px;
          text-decoration: underline;
          cursor: pointer; }

.noty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  height: 85px;
  width: 260px;
  border-radius: 8px;
  background-color: #0cb60c;
  z-index: 4; }
  .noty__content {
    background-color: transparent;
    padding: 20px;
    text-align: center; }
    .noty__content__text {
      font-size: 14px;
      background-color: inherit;
      color: #fff; }

/*# sourceMappingURL=style1practice.css.map */
